@import "../../App.scss";


.About {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    z-index: -1;
    font-family: Agbalumo, serif;

    .textContainer {
        @include smallMobile {
            flex-direction: row;
            font-size: 12px;
        }

        @include largeMobile {
            flex-direction: row;
            font-size: 14px;
        }


        @include smalltablets {
            flex-direction: column;
        }



        .headLine {
            font-family: Agbalumo, serif;
            font-size: 18px;
            font-weight: 300;
            margin-top: 20px;
            margin-left: 10px;

            @include smallMobile {
                display: none;
            }
        }

        .ab {
            font-family: Agbalumo, serif;
            text-align: right;
            margin-top: -30px;
            margin-right: 10px;

            @include smallMobile {
                display: none;
            }

            @include mediumtablets {
                display: block;
                margin-top: 10px;
                font-size: 20px;
                color: lightpink;
            }
        }

        .h3 {
            font-family: Agbalumo, serif;
            text-align: center;
            font-size: 35px;
            margin-top: 100px;

            @include smallMobile {
                position: absolute;
                top: -90px;
                left: 10%;
            }

            @include largeMobile {
                position: absolute;
                top: -80px;
                left: 20%;
            }

            @include smalltablets {
                position: absolute;
                left: 30%;
            }

            @include mediumtablets {
                position: absolute;
                top: calc(100vh - 102vh);
            }

            @include moreLength {
                position: absolute;
                top: 100vh - 94vh;
            }

            @include extraLength {
                font-size: 45px;
                position: absolute;
                left: 30%;
                top: 100vh - 96vh;
            }
        }

        .meb {
            text-align: left;
            margin-top: -80px;
            margin-right: 40%;
            margin-left: 10px;

            @include smallMobile {
                position: absolute;
                top: -40px;
                width: 90%;
                left: 1%;
                text-align: justify;
                letter-spacing: 0.5px;
            }

            @include smalltablets {
                position: absolute;
                width: 50%;
            }

            @include midLength {
                line-height: 30px;
                font-size: 16px;
            }

            @include mediumtablets {
                position: absolute;
                top: calc(100vh - 95vh);
            }

            @include moreLength {
                position: absolute;
                top: 100vh - 88vh;
                font-size: 20px;
                line-height: 29px;
                letter-spacing: 2px;
            }

            @include largetablets {
                font-size: 14px;
                letter-spacing: 3px;
                line-height: 32px;
            }


            .p1 {
                margin-top: 200px;

                @include smallMobile {}
            }

            .line2 {
                display: none;

                @include smalltablets {
                    display: block;
                }
            }

            .p2 {
                margin-top: 200px;

                @include smallMobile {
                    display: none;
                }

                @include smalltablets {
                    display: block;
                }
            }

            .p2 {
                margin-top: 25px;

            }


        }

        .imageContainer {
            @include smallMobile {}

            .imge {
                display: block;
                margin-left: auto;
                margin-right: 80px;
                margin-top: -28%;
                width: 350px;
                height: 350px;
                border-radius: 5%;

                @include smallMobile {
                    position: absolute;
                    width: 220px;
                    height: 200px;
                    top: calc(100vh - 29vh);
                    left: calc(100vw - 79vw);
                }

                @include largeMobile {
                    position: absolute;
                    top: calc(100vh - 22vh);
                    left: calc(100vw - 76vw);
                }

                @include smalltablets {
                    position: absolute;
                    top: calc(100vh - 49vh);
                    right: calc(100vw - 110vw);
                }

                @include midLength {
                    width: 260px;
                    height: 260px;
                    position: absolute;
                    right: calc(100vw - 105vw);
                }

                @include mediumtablets {
                    position: absolute;
                    top: calc(100vh - 40vh);
                }

                @include moreLength {
                    position: absolute;
                    right: calc(100vw - 100vw);
                    top: calc(100vh - 25vh);
                }

                @include largetablets {
                    position: absolute;
                    width: 360px;
                    height: 360px;
                    top: calc(100vh - 30vh);
                }
            }

            .p3 {
                margin-top: 25px;

            }


            .ppp {
                text-align: center;
                margin-right: 80px;

                @include smallMobile {
                    display: none;
                }

                @include largeMobile {
                    display: block;
                    //position: absolute;
                    //top: calc(100vh - 12vh);
                    //left: calc(100vw - 80vw);
                    margin-top: calc(100vh - 12vh);
                    margin-left: calc(100vw - 90vw);
                }

                @include smalltablets {
                    position: absolute;
                    top: calc(100vh - 132vh);
                    right: calc(100vw - 109vw);
                    text-align: center;
                }

                .p4 {
                    @include smalltablets {
                        width: 220px;
                    }

                    @include midLength {
                        margin-top: 20px;
                        margin-right: 60px;
                    }

                    @include mediumtablets {
                        margin-top: 70px;
                    }

                    @include moreLength {
                        margin-top: calc(100vh - 79vh);
                        margin-right: calc(100vw - 90vw);
                    }

                    @include largetablets {
                        margin-top: calc(100vh - 76vh);
                        margin-right: calc(100vw - 85vw);
                        font-size: 18px;
                    }

                    @include extraLength {
                        margin-top: calc(100vh - 82vh);
                    }
                }
            }



            .p5 {

                @include smallMobile {
                    display: none;
                }

                @include largeMobile {
                    display: block;
                    position: absolute;
                    top: calc(100vh - 93vh);
                    left: calc(100vw - 83vw);
                }

                @include smalltablets {
                    position: absolute;
                    left: calc(100vw - 95vw);
                    //width: 100px;
                    text-align: left;

                }

                @include mediumtablets {
                    margin-left: -40px;
                }

                @include largetablets {
                    margin-top: calc(100vh - 98vh);
                    margin-right: calc(100vw - 110vw);
                    font-size: 18px;
                }

                @include extraLength {
                    margin-top: calc(100vh - 93vh);
                    margin-right: calc(100vw - 110vw);
                }
            }
        }
    }
}